.bg-purple{
	background-color: #909CAE;
}
.bg-palta{
	background-color: #8FC6B1;
}

.card {
	border-radius: 2px !important;
}
.card.info{
	border-left: 4px solid #2d89c8;
}
.card.dark{
	border-left: 4px solid #6c757d;
}

.row-click{
	cursor: pointer;
}
.card.indigo{
	border-left: 4px solid #9561e2;
}